<h2>HELLO COMPONENT ANGULARMATERIAL!</h2>
<hr>
<div class="container">
    <h4>Se mostrará los 'angular materials' empleados para esta práctica, así como un ejemplo de cada uno:</h4><hr><br>

    <p class="text">1) SideNav --> Se ha empleado para facilitar el uso del routing. Se puede observar las diferentes páginas con sus rutas a las que se 
        puede acceder, además de verse en una barra lateral bastante bonita. Ejemplo simple:
    </p>
    <mat-sidenav-container class="example-container" style="background-color: #FCFF6B;">
        <mat-sidenav mode="side" style="background-color: #FCFF6B;" opened>Sidenav content</mat-sidenav>
        <mat-sidenav-content style="background-color: #FCFF6B;">Main content</mat-sidenav-content>
    </mat-sidenav-container><br>

    <p class="text">2) ToolBar --> Se ha empleado para decorar la web. Se puede observar la barra en color que aparece arriba, estableciendo el nombre de MY APP.
        Ejemplo simple:
    </p>
    <p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>Nombre cualquiera</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar>
    </p><br>

    <p class="text">3) Icons --> En este caso simplemente ha sido para poder añadir iconos a la web, para darle más elementos decorativos. Ejemplo simple:
    </p>
    <mat-icon aria-hidden="false" aria-label="Example home icon" style="background-color: #FCFF6B;">home</mat-icon><mat-icon style="background-color: #FCFF6B;">menu</mat-icon><br><br>

    <p class="text">4) Input --> Se utilizó precisamente para establecer la comunicación entre el componente padre y el componente child1, para darle una funcionalidad a la 
        web. Ejemplo simple:
    </p>
    <mat-form-field class="example-full-width" style="background-color: #FCFF6B;">
        <mat-label >City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
    </mat-form-field><br><br>

    <p class="text">5) List --> Básicamente para darle más enfoque y mejor vista al menú aparecido en la barra lateral. Ejemplo simple:
    </p>
    <mat-nav-list role="list" style="background-color: #FCFF6B;">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-nav-list><br><br>

    <p class="text">6) Button --> Estilizar los botonees utilizados en la propia APP, como por ejemplo en el que se pulsa para ver la fecha y hora actual. Ejemplo simple:
    </p>
    <button mat-raised-button style="background-color: #FCFF6B;">Basic</button>
</div>


  
