<h2>HELLO COMPONENT ACERCA!</h2>
<hr>

<p class="container text"> Bienvenido a la APP de Servicios y Enrutamiento. Se trata de una APP en la que se hace uso de enrutamiento y servicios, así como de componentes
    lejanos. La 1º funcionalidad que posee es la de, una vez se pulsa en el botón que aparece en la página de '1ºFuncionalidad', el componente hijo de este, el cuál se puede observar 
    en la barra de navegación lateral 'Fecha-Hora', este mostrará la Fecha y Hora del momento en el que se pulse dicho botón. A parte de ello, se le ha agregado otra 2º funcionalidad
    a la web para que no quedara tan simple, la cuál es, entre dos componentes, que trabajan de forma conjunta, se puede ver que en la página '2ºFuncionalidad' se puede crear 
    cualquier texto que se desee en el área para escribir. Una vez se escribe lo que se desea, se puede ver en la misma página, algo más abajo un recuadro con lo que se vaya escribiendo 
    de forma instantánea. Este último es un ejemplo sencillo basado en el tutorial dado en la entrega de la tarea, aunque siendo algo más a mi modo y con mi estilo.
</p>
