<h2>HELLO COMPONENT ACERCA!</h2>
<hr>

<p class="container text">Esto es una web para la práctica de la asignatura Desarrollo de Aplicaciones Web II. 
    Se trata de una web simple con enrutamiento, en la que se han agregado unos cuántos componentes. Dos de ellos,
    el padre y el child1, trabajan de forma conjunta, es decir, se puede ver que en la página de 'padre', cualquier 
    frase o texto que se establezca en el área de escribir, se establece directamente en el apartado que aparece más 
    abajo, siendo este apartado del componente child1. Es un ejemplo sencillo, basado en el tutorial dado en la entrega de 
    la tarea, aunque siendo algo más a mi modo y con mi estilo.
</p>
