.container {
    margin-top: 10px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #FCFF6B;
    padding: 100px;
}

h2 {
    font: oblique bold 120% cursive;
    color: #FCFF6B;
}

.color {
    font: oblique bold 120% cursive;
    margin-left: 640px;
    color: #FCFF6B;
  }